/*Roboto, Helvetica, sans-serif, Explora;*/

@import url('https://fonts.googleapis.com/css2?family=Explora&family=Roboto&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 35px;

}
h2{
    margin: 0;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.button-box{
    text-align: center;
}
main {
    text-align: center;
    font-family: Explora,sans-serif;  
    font-size: 2em;

}
#background{
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body{
    background-color:#0075a2;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color:#f9f5e3;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: #de1a1a;
    color: black;
}
.book{
    background-color: #0075a2;
    color: #f9f5e3;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;  
    border-radius: 5px;}
.join{
    background-color: #0075a2;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #f9f5e3;
    color: black;
}
.join:hover{
    background-color: #de1a1a;
    color: #f9f5e3;
}
.msg{
    background-color: #f9f5e3;
    font-family: sans-serif;
    font-size: 18px;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;

}

.msg p{
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer{
    background-color: #f9f5e3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.home-title{
    color: #f9f5e3;
    font-family: Explora,sans-serif;
    font-size: 4em;
    margin-top: 10px;
}
h4 {
    color: #f9f5e3;
}
.msg h2{
    color: black;
    font-family: Explora,sans-serif;

}
.msg p{
    color:black;
}
footer h3{
    color:black
}
footer a{
    color:black;
    text-decoration: none;
}
footer a:hover{
    color:#0075a2
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width:100%;
}
footer h3 a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img, .mountians{
    width:100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
.card-img{
    border: 10px solid #f9f5e3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
.river-grid{
    margin: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.river-grid p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.salmon_river{
    max-width: 300px;
}
.desolation{
    max-width: 300px;
}
.grand{
    max-width: 300px;
}