body{
    background-color: #078EF5;
    margin: 0;
}
.logo{
    max-width: 50px;
}
img{
    max-width: 150px;
}
.hero_img{
    max-width: 100%;
}
.treasure{
    max-width: 100%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 200px;
    
}
header{
  display: grid;
  grid-template-columns: 50px auto;
  background-color: #F5D314;
  width: 100%;
  align-items: center;
}
nav a{
  padding-left: 50px;
} 

main{
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  margin-bottom: -150px;
  font-family: 'MedievalSharp', cursive;
}
main a{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 35px;
  background-color: #A83A16;
  color: black;
 border-radius: 25px;
}
#resources{
  padding-top: 35px;
}
#resources p{
  padding-top: 30px;
  font-family: 'MedievalSharp', cursive;
}
footer{
  background-color: #F5D314;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*
{box-sizing: border-box;}
.open-button{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
   /* position: fixed;*/
    bottom: 23px;
    right: 28px;
    width: 150px;
}
.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text], .form-container input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: red;
  }
    .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .resources_main p{
    grid-column: 2/3;
  }
  .resources_main li{
    grid-column: 2/3;
    font-family: 'Times';
  }
  .resource-foot{
    margin-top: 50px;
  }
  .question{
    grid-column: 2/3;
}
  .answer{
    grid-column: 2/3;
    font-family: 'Times';
  }
  .map{
    max-width: 100%;
    grid-column: 1/2;
    padding-right: 10px;
    grid-row: 1;
    margin-bottom: -8px;
  }
  .map2{
    max-width: 100%;
    grid-column: 3/4;
    padding-right: 10px;
    grid-row: 1;
    margin-bottom: -8px;
    margin-left: 10px;
  }
  .QA{
    grid-row: 1;
    grid-column: 2;
  }
  #intro{
    grid-column: 1/4;
    margin-left: 100px;
    margin-right: 100px;
  }